
    <div class="container col-md-4">
        <h1 class="text-center">Login</h1>
        <div class="card">
            <div class="card-body">
                <form class="form-group"  style="width: 23rem;">
                    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                    <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
                    <div class="form-group">
                        <label for="username">User Name :</label>
                        <input type="text" size="30" class="form-control" id="username" [(ngModel)]="username"
                            placeholder="Enter User Name" name="username"><br>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" size="30" class="form-control" [(ngModel)]="password" id="password"
                            placeholder="Enter password" name="password"><br>
                    </div>
                     <button (click)=handleLogin()  class="btn btn-primary btn-block mb-4">Login</button>
                </form>
            </div>
        </div>
    </div>
