<header>
    <nav class=" navbar navbar-expand-lg bg-primary navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="Home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <!--<li class="nav-item">
          <a routerLink="Hierarchy" routerLinkActive="active" class="nav-link">Hierarchy</a>
        </li>
        <li class="nav-item">
          <a routerLink="Statistics" routerLinkActive="active" class="nav-link">Statistics</a>
        </li>
        <li class="nav-item">
          <a routerLink="Logs" routerLinkActive="active" class="nav-link">Logs</a>
        </li>
        <li class="nav-item">
          <a routerLink="System" routerLinkActive="active" class="nav-link">System</a>
        </li>
        <li class="nav-item">
          <a routerLink="Config" routerLinkActive="active" class="nav-link">Config</a>
        </li>
        <li class="nav-item">
          <a routerLink="Security" routerLinkActive="active" class="nav-link">Security</a>
        </li>-->
      </ul>
    </nav>
</header>
    
    
    
    <footer class = "footer">
      <div class = "container">
          <span>All Rights Reserved 2022 @JPenske Web Reports Portal</span>
      </div>
    </footer>
